<div class="product-review-form">
  <h3> {{'product.customer_reviews' | translate}}</h3>

  <div class="review-title">
    <star-rating value="{{product.rating}}" totalstars="5" checkedcolor="gold" uncheckedcolor="grey" readonly="true" size="25"></star-rating>
    <p>{{product.detail.numberOfComments}} {{'product.reviews_small' | translate}}</p>
  </div>

  <div class="review-comments">
    <ul>
      <li *ngFor="let item of reviewList | orderBy: 'reviewDate':true"  style="list-style-type:none;">
        <div class="review-item">
          <p>{{item.reviewDate | date: 'dd/MM/yyyy h:mm a'}}</p>
          <p><star-rating value="{{item.rate}}" totalstars="5" checkedcolor="gold" uncheckedcolor="grey" size="25px" readonly="true"></star-rating></p>
          <p>{{item.comment}}</p>
        </div>
      </li>
    </ul>
  </div>

  <div class="review-form">
    <h3>{{'product.write' | translate}}</h3>
    <form [formGroup]="reviewForm" (submit)="save()">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="form-group">
            <star-rating #rating value="0" totalstars="5" checkedcolor="gold" uncheckedcolor="grey" size="25px" readonly="false" (rate)="onRate($event)"></star-rating>
          </div>
        </div>
        <div class="col-lg-12 col-md-12">
          <div class="form-group">
            <textarea formControlName="comment" id="comment" cols="30" rows="6" placeholder="{{'product.write_desc' | translate}}" class="form-control"></textarea>
          </div>
        </div>

        <div class="col-lg-12 col-md-12">
          <button type="submit" class="default-btn"><i class='bx bx-paper-plane icon-arrow before'></i><span class="label">{{'product.submit' | translate}}</span><i class="bx bx-paper-plane icon-arrow after"></i></button>
        </div>
      </div>
    </form>
  </div>
</div>
