<div class="container">
  <div class="myAccount-navigation">
    <ul>
      <li><a class="active"><i class='bx bx-list-ul'></i>{{'product.title' | translate}}</a></li>
    </ul>
  </div>

  <div class="myAccount-content" *ngIf="productModel$ | async as resolved">
    <div class="orders-table table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>{{'product.id' | translate}}</th>
          <th>{{'product.name' | translate}}</th>
          <th>{{'product.price' | translate}}</th>
          <th>{{'product.rating' | translate}}</th>
          <th>{{'product.image' | translate}}</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of resolved.products">
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price | number: '1.2-2'}}</td>
          <td>
            {{product.rating}}
            <star-rating value="{{product.rating}}" totalstars="5" checkedcolor="gold" uncheckedcolor="grey" readonly="true" ></star-rating>
          </td>
          <td>
            <img src="{{product.thumbnail_url}}" alt="product_logo" width="32" height="32">
          </td>
          <td><a routerLink="product-detail" class="view-button">{{'product.detail' | translate}}</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
