<div class="container">
  <div class="myAccount-navigation">
    <ul>
      <li><a class="active"><i class='bx bx-list-ul'></i>{{'product.detail' | translate}}</a></li>
    </ul>
  </div>

  <div class="myAccount-content">
  <div class="row align-items-center">
    <div class="col-lg-5 col-md-12">
      <div class="products-details-image">
        <img src="{{product.detail.image_url}}" alt="image">
      </div>
    </div>

    <div class="col-lg-7 col-md-12">
      <div class="product-details-desc">
        <h3>{{product.name}}</h3>
        <div class="price">
          <span class="new-price">{{product.price | number: '1.2-2'}} {{product.detail.currency}}</span>
        </div>
        <h6 style="display: inline-block">{{'product.arrival_date' | translate}}</h6>
        <span> {{product.detail.arrival_date | date: 'dd.MM.yyyy'}}</span>
        <div class="product-review">
          <star-rating value="0" totalstars="5" checkedcolor="gold" uncheckedcolor="grey" readonly="true" size="25"></star-rating>
          <p> 0 {{'product.reviews_small' | translate}}</p>
        </div>
        <p>
          {{product.detail.desc}}
        </p>
      </div>
    </div>

    <div class="col-lg-12 col-md-12">
      <div class="tab products-details-tab">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">{{'product.additional' | translate}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">{{'product.reviews' | translate}}</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-12 col-md-12">
            <div class="tab-content">
              <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="tabs-item">
                  <div class="products-details-tab-content">
                    <p>{{product.detail.additional_info}}</p>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="tabs-item">
                  <div class="products-details-tab-content">
                    <app-reviews [product]=product></app-reviews>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
